.idea
__pycache__
/.vscode
result_all
score_all
.env
modify_name.py
eval_all.sh
eval.sh
generate.sh
test.py
data_all/data_en/dialogue_history/
data_all/data_zh/dialogue_history/
*.env
!.env.template

# leaderboard/

# Pants workspace files
/.pants.d
/dist/'
.jj
eval_all

